*{
    font-family:montserrat;
    
}
body{
    background:f1bff;

}
.container{
    background-color: black;
}
.title1{
    text-align:center;
    font-size:25px;
    font-weight:900px;
    text-decoration:none;
    background:linear-gradient(to right, #CCC 50%, #0ABAB5 50%, white);
    background-size: 200%;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    transition:0.5s ease-out;
}
.title1:hover{
    background-position: -100%;
    animation: flicker 1.5s infinite alternate;
}

.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height:100vh;
    min-height:300px;
}
.carousel-caption{
    bottom: 220px;
    z-index:2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform:uppercase;
    letter-spacing:2px;
    margin-top:25px;
    
}
.carousel-caption h5:hover{
    background-position: -100%;
    animation: flicker 1.5s infinite alternate;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    background-color: transparent;
    border-radius: 20px;
    opacity: 0.7;
}
.carousel-caption p:hover{
    color:white;
    background-color:black;
    transform:scale(1.0);
    border-radius: 20px;
}
.carousel-inner::before{
    content:'';
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.7);
    z-index:1;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    
}

.navbar-Light .navbar-brand{
    color:black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:2px

}
.nav-Light .navbar-brand:focus,
.nav-Light .navbar-brand:hover{
    color:black;

}
.nav-Light .navbar-nav .navbar-Light{
    color:black;
}
.w-100{
    height:100vh
}
.nav-item{
    background-color:  #6c757d;
    border-radius: 30px;
    border:solid #0ABAB5;
}
.nav-item :hover{
    background-color: #0ABAB5;
    border-radius: 20px;
}
.dropdown-menu a:hover{
    background-color:#0ABAB5; 
}




