body{
    background-image: url("phflag.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p{
    text-align: justify;
}

h1{
    text-align:center;
    font-size:60px;
    font-weight:900px;
    text-decoration:none;
    background:linear-gradient(to right, #CCC 50%, #FF5858 50%, #CC2E5D);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition:0.5s ease-out;
}
h1:hover{
    background-position: -100%;
    animation: flicker 1.5s infinite alternate;
}
h3{
    transition:0.5s ease-out;
}
h3:hover{
    background-position: -100%;
    text-shadow:
    0 0 60px blue,
    0 0 70px blue,
    0 0 80px blue,
    0 0 90px red,
    0 0 100px red,
    0 0 150px red;
}
@keyframes flicker {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
p:hover{
    color:white;
    background-color:black;
    transform:scale(1.3);
    border-radius: 20px;
   
}
.church{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.box{
    border:solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.box:hover{
    transform:scale(1.1);
    z-index:2;
    transition:0.5s;
}